.body{font-size: 8pt}
#nav ul li#clasa div{
background: none;
width: 100%;
height: 100%;
}
#nav ul li#arhiva div{
background: none;
width: 100%;
height: 100%;
}
#nav ul li#stiri div{
background: none;
width: 100%;
height: 100%;
}
#nav ul li#linkuri div{
background: none;
width: 100%;
height: 100%;
}
#nav {width: auto}
#nav ul {width: auto}
#nav ul li {width: 20%; height: 35px}
.colt{background: url(/date/images/cbg.png) repeat top center;
	border : solid 1px #CCCCCC;
	width: 10px;
	height: 10px;
}
.colt#dreapta-sus{
	border-bottom: none;
	border-left: none;
}
.colt#dreapta-jos{
	border-top: none;
	border-left: none;
}
.colt#stanga-sus{
	border-bottom: none;
	border-right: none;
}
.colt#stanga-jos{
	border-top: none;
	border-right: none;
}
.pagina{width:100%;}
